
.background{
    background-image: url('https://raw.githubusercontent.com/Fr-zm/Fr-zm/refs/heads/main/readme/background-template.png');
    background-size: cover;
    height: 1000px;
    width:1000px;
    color: rgb(0, 0, 0);
    font-family:'Special Elite',sans-serif;
}

.musicBox{

}
#Cracked{
    width:120px;
    margin:800px 0 0 500px;
}